#sideNavIcon {
    position: fixed;
    top: 30px;
    left: 30px;
}

.modal.bottom-sheet {
    max-height: 90%;
    height: 90%;
}

.overflow-hidden {
    overflow: hidden;
}

thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}